/*.log
/target
/*-init.clj
/resources/public/js
/resources/public/css
/node_modules
out
.cpcache
.idea
*.xml
.rebel_readline_history
*.iml
.DS_Store
/dist
/.sass-cache
.shadow-cljs
.nrepl-port
.dir-locals.el
.clj-kondo/.cache
.calva
.lsp